body {
  //background-color: $azure_radiance;
  //height: 20px;
  //width: 128px;
  height: 100%;
  min-height: 100%;
  //width: 1440px;
  width: 100%;
  margin: 0 auto;
  color: #3B424B;
  background-color: #F4F4F4;
  color: rgb(219, 207, 207);
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 20px;
}

// .container {
//   @include min-max(320px, 100%, 0);
// }

.wrap {
  //@include min-max(320px, 1400px, 15px);
}

p {
  color: $black;
}

img {
  display: block;
  //width: 100%;
  &:hover {
    cursor: pointer;
  }
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  color: #37383E;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

h3, .h3 {
  //width: 242px;
  color: #37383E;
  font-family: Montserrat;
  font-size: 24px;
  //font-weight: bold;
  line-height: 24px;
}

h4 {
  font-size: 20px;
}

button,
button:active,
button:focus {
    outline: none;
    border: none;
}

ul, li {
  list-style: none;
  display: block;
}

a {
  &:hover {
    cursor: pointer;
  }
}

