//input[type=range]::-webkit-slider-runnable-track {
//  width: 100%;
//  height: 8.4px;
//  cursor: pointer;
//  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//  background: #3071a9;
//  border-radius: 50px;
//  border: 0.2px solid #010101;
//}
//
//input[type=range]:focus::-webkit-slider-runnable-track {
//  background: #367ebd;
//}
//
//input[type=range]::-moz-range-track {
//  width: 100%;
//  height: 8.4px;
//  cursor: pointer;
//  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//  background: #3071a9;
//  border-radius: 50px;
//  border: 0.2px solid #010101;
//}
//
//// input[type=range]::-ms-track {
////   width: 100%;
////   height: 8.4px;
////   cursor: pointer;
////   background: transparent;
////   border-color: transparent;
////   border-width: 16px 0;
////   color: red;
//// }
//// input[type=range]::-ms-fill-lower {
////   background: #2a6495;
////   border: 0.2px solid #010101;
////   border-radius: 50px;
////   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//// }
//// input[type=range]:focus::-ms-fill-lower {
////   background: #3071a9;
//// }
//// input[type=range]::-ms-fill-upper {
////   background: #3071a9;
////   border: 0.2px solid #010101;
////   border-radius: 50px;
////   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//// }
//// input[type=range]:focus::-ms-fill-upper {
////   background: #367ebd;
//// }
//
//// input[type=range]::-webkit-slider-runnable-track {
////   width: 100%;
////   height: 8.4px;
////   cursor: pointer;
////   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
////   background: #3071a9;
////   border-radius: 50px;
////   border: 0.2px solid #010101;
//// }
//
//// input[type=range]:focus::-webkit-slider-runnable-track {
////   background: #367ebd;
//// }
//
//// input[type=range]::-moz-range-track {
////   width: 100%;
////   height: 8.4px;
////   cursor: pointer;
////   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
////   background: #3071a9;
////   border-radius: 50px;
////   border: 0.2px solid #010101;
//// }
//
//// input[type=range]::-ms-track {
////   width: 100%;
////   height: 8.4px;
////   cursor: pointer;
////   background: transparent;
////   border-color: red;
////   border-width: 16px 0;
////   color: red;
//// }
//// input[type=range]::-ms-fill-lower {
////   background: #2a6495;
////   border: 0.2px solid #010101;
////   border-radius: 50px;
////   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//// }
//// input[type=range]:focus::-ms-fill-lower {
////   background: #3071a9;
//// }
//// input[type=range]::-ms-fill-upper {
////   background: #3071a9;
////   border: 0.2px solid #010101;
////   border-radius: 50px;
////   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//// }
//// input[type=range]:focus::-ms-fill-upper {
////   background: #367ebd;
//// }


/////////////////////////////////////////////////////////////////
$track-w: 25.5em;
$track-h: .75em;
$track-bg: #222325;
$track-fill:
  repeating-linear-gradient(135deg,
      #5087ae, #5087ae 3px,
      #366996 3px, #366996 8px)
    no-repeat;

$thumb-d: 2em;
$thumb-c: #fefefe;
$thumb-refl: #5e5858;

@function refl($pos: 50% 0, $k: 1, $refl: $thumb-refl) {
  @return
    radial-gradient(at #{$pos}, rgba($refl, $k), rgba($refl, 0) 71%)
      #{$pos};
}

@function refl-l($a: 0deg, $k: 1, $refl: $thumb-refl) {
  @return
    linear-gradient($a, rgba($refl, 0), rgba($refl, $k), rgba($refl, 0)) 50% 50%;
}

@mixin track-base($flag: true) {
  box-sizing: border-box;
  border: solid 1px;
  border-color: #0c0d0f #1b1c1e #222423;
  width: $track-w; height: $track-h;
  border-radius: .25em;
  box-shadow: 0 1px 1px #5e5f63,
    inset 0 .125em .125em #0c0d0f;
  background: $track-bg;

  @if $flag {
    .js & {
      background: $track-fill $track-bg;
      background-size: 32% 100%;
    }
  }
}

@mixin thumb-base() {
  width: $thumb-d; height: $thumb-d;
  border-radius: 50%;
  background:
    refl-l(0deg, .5), refl(), refl(0 50%),
    refl-l(90deg, .5), refl(50% 100%), refl(100% 50%),
    $thumb-c;
  background-repeat: no-repeat;
  background-size: 100% .125em, 50% 50%, 50% 50%,
    .125em 100%, 50% 50%, 50% 50%;
}

// input[type='range'] {
//   &,
//   &::-webkit-slider-runnable-track,
//   &::-webkit-slider-thumb {
//     -webkit-appearance: none;
//   }

//   align-self: center;
//   border: solid 0 transparent;
//   border-width: 0 2*$track-h;
//   padding: 0;
//   width: $track-w; height: 5*$track-h;
//   border-radius: .25em;
//   background: transparent;
//   font-size: 1em;
//   cursor: pointer;

//   &::-webkit-slider-runnable-track {
//     @include track-base();
//   }
//   &::-moz-range-track {
//     @include track-base();
//   }
//   &::-ms-track {
//     @include track-base(false);
//     color: transparent;
//   }
//   &::-ms-fill-lower {
//     border-radius: .1875em;
//     background: $track-fill;
//   }

//   &::-webkit-slider-thumb {
//     margin-top: ($track-h - $thumb-d)/2;
//     @include thumb-base();
//   }
//   &::-moz-range-thumb {
//     @include thumb-base();
//   }
//   &::-ms-thumb {
//     @include thumb-base();
//   }
//   &::-ms-tooltip { display: none; }

//   .js & {
//     &:nth-of-type(n + 2) {
//       width: 9.5em;

//       &::-moz-range-track {
//         width: 9.5em; height: 1.75em;
//         background-size: 40% 100%;
//       }
//       &::-ms-track {
//         width: 9.5em; height: 1.75em;
//       }

//       &::-webkit-slider-thumb {
//         margin-top: 0;
//         width: 0; height: 1.75em;
//       }

//       $fs: 1.75;

//       &::-webkit-slider-runnable-track {
//         position: relative;
//         border: none;
//         width: 9.5em; height: 1.75em;
//         box-shadow: none;
//         background: transparent;
//       }

//       /deep/ #track, &::-webkit-slider-runnable-track {
//         &:before, &:after {
//           overflow: hidden;
//           position: absolute;
//           top: 50%;
//           width: inherit;
//           transform: translateY(-50%) scaleY(.95);
//           color: #232426;
//           font: #{$fs*1em}/1 sans-serif;
//           letter-spacing: 3px;
//           text-shadow: 0 1px #555, 0 -1px #111;
//           content: '★★★★★';
//         }
//         &:after {
//           width: 40%;
//           color: #3b9aca;
//         }
//       }
//     }
//   }

//   &:focus {
//     outline: none;
//     box-shadow: 0 0 .25em #000;
//   }
// }


@import url('https://kodhus.com/kodhus-ui/kodhus-0.1.0.min.css');

.slider-container-main {
  width: 30%;
  margin: 60px auto;

}
.slider-container {
  position: relative;
  margin-top: 30px;
}
.slider-container .slider-track {
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
}
.slider-container .slider-track .track-progress {
  background: #416be4;
  width: 100%;
  height: 100%;
  transform: scaleX(0.5);
  transform-origin: 0;
}
.slider-container .thumb {
  width: 20px;
  height: 20px;

  position: absolute;
  left: 0;
  top: -8px;
  border-radius: 50px;
  transform: translateX(-50%) translateX(250px);
}
.slider-container .thumb .thumb-indicator {
  width: 100%;
  height: 100%;
  background: #416be4;
  border-radius: 50%;
  transition: all 0.2s;
  -webkit-user-select: none;
}
.slider-container .thumb .thumb-indicator.focus {
  transform: scale(1.3);
  opacity: 0.8;
}
.slider-container .thumb-1 {
  transform: translateX(-50%) translateX(100px);

}

.slider-container .slider-track .track-progress-1 {
  background: #416be4;
  width: 100%;
  height: 100%;
  transform: scaleX(0.3) translateX(360px);
  transform-origin: 0;
}

    $darkOrange: "blue";
    $thumbHeight: 20px;
    $thumbBorderWidth: 4px;
    $trackColor: #ccc;
    $activeTrackColor: #777;
    $trackHeight: 4px;
    $thumbColor: red;
    $activeThumbColor: $darkOrange;


input {
  width: 20%;
  height: 28px; /* thumbHeight + (2 x thumbBorderWidth)*/
  -webkit-appearance: none; /*remove the line*/
  //outline: none;
  /*background-color:cyan;*/
  border: 0; /*for firefox on android*/
  padding: 0 8px; /*for IE*/
  margin: 8px 0;
}

/*chrome and opera*/
input[type="range"]::-webkit-slider-runnable-track {
  background: #ccc; /*trackColor*/
  height: 4px; /*trackHeight*/
  border-radius: 4px; /*trackHeight*/
  transition: 0.3s;
}

input[type="range"]:hover::-webkit-slider-runnable-track,
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #00A0F9; /*activeTrackColor*/
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #00A0F9; /*thumbColor*/
  width: 28px; /* thumbHeight + (2 x thumbBorderWidth)*/
  height: 28px; /* thumbHeight + (2 x thumbBorderWidth)*/
  border-radius: 50%;
  margin-top: -12px; /* -[thumbHeight + (2 x thumbBorderWidth) - trackHeight]/2*/
  cursor: pointer;
  //border: 4px solid #fff; /*border-width should be equal to thumbBorderWidth if you want same border width across all browsers and border-color should match the background*/
  transition: 0.3s;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
  background: #00A0F9; /*activeThumbColor*/
}

/*firefox*/
input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-moz-range-track {
  background: #00A0F9; /*trackColor*/
  height: 4px; /*trackHeight*/
  border-radius: 4px; /*trackHeight*/
  /*background isn't animatable, so can't use transition*/
}

input[type="range"]:hover::-moz-range-track,
input[type="range"]:focus::-moz-range-track {
  background: #ccc; /*activeTrackColor*/
}

input[type="range"]::-moz-range-thumb {
  background: #00A0F9; /*thumbColor*/
  width: 20px; /*thumbHeight*/
  height: 20px; /*thumbHeight*/
  border-radius: 50%;
  cursor: pointer;
  //border: 4px solid #fff; /*border-width = thumbBorderWidth, border-color should match the background*/
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
  background: #00A0F9; /*activeThumbColor*/
}

input[type="range"]::-moz-range-progress {
  background: #00A0F9; /*thumbColor*/
  border-radius: 4px; /*trackHeight*/
  height: 4px; /*trackHeight*/
}

input[type="range"]:hover::-moz-range-progress,
input[type="range"]:focus::-moz-range-progress {
  background: #00A0F9; /*activeThumbColor*/
}

/*edge and IE*/
input[type="range"]::-ms-track {
  background: #ccc; /*trackColor*/
  height: 4px; /*trackHeight*/
  border-radius: 4px; /*trackHeight*/
  border: none;
  color: transparent;
}

input[type="range"]:hover::-ms-track,
input[type="range"]:focus::-ms-track {
  background: #777; /*activeTrackColor*/
}

input[type="range"]::-ms-thumb {
  background: #00A0F9; /*thumbColor*/
  width: 20px; /*thumbHeight*/
  height: 20px; /*thumbHeight*/
  border-radius: 50%;
  border: none;
  margin: 0 4px 0; /*0 thumbBorderWidth 0*/
  //box-shadow: 0 0 0 4px #fff; /*0 0 0 thumbBorderWidth #fff, box-shadow color should match the background*/
  /*cursor:pointer; doesn't work*/
}

input[type="range"]:hover::-ms-thumb,
input[type="range"]:focus::-ms-thumb {
  background: #00A0F9; /*activeThumbColor*/
}

input[type="range"]::-ms-tooltip {
  display: none; /*tooltip makes thumb sliding lagy*/
}

input[type="range"]::-ms-fill-lower {
  background: #00A0F9; /*thumbColor*/
  border-radius: 4px; /*trackHeight*/
}

input[type="range"]:hover::-ms-fill-lower,
input[type="range"]:focus::-ms-fill-lower {
  background: #00A0F9; /*activeThumbColor*/
}

.vertically-stacked-slider {
  padding: 8px;
}

.vertically-stacked-slider > input[type="range"] {
  padding: 0;
}

.horizontally-stacked-slider {
  display: flex;
  align-items: center;
}

.horizontally-stacked-slider > .title {
  flex: 1;
  padding: 8px;
}

.horizontally-stacked-slider > input[type="range"] {
  flex: 1;
}
/////////////////////////////////////////////////////////////////////////////

.range {
  width:500px;
  height:10px;

  border-radius: 4px;
  background-color: #ddd;
}

.range__button_1, .range__button_2 {
  position: absolute;
  top: 99%;

  width: 20px;
  height: 20px;

  cursor: move;
  transform: translateY(-50%);

  border: none;
  border-radius: 50%;
  background-color: #999;
}
.range__between
{
  position: absolute;
  height: 5px;
  width:0px;
  margin-top:3px;
  border: none;
  background-color: #559933;
}
.range_inpt1, .range_inpt2
{
  margin-top:20px;
  width: 50px;
}