.similar_offers {
  margin-top: 50px;

  .similar_title {
    //margin-bottom: 25px;
    .pagination {
      .pagination_direction {
        padding: 0px 5px;
        color: #788089;
      }
    }
  }

  .similar_offer_block {
    .offer {
      padding: 25px;
      .offer_photo {
        width: 212px;
        height: 167px;
      }
      .offer_info {
        margin-top: 32px;
        .offer_title {
          color: #788089;
          font-family: Montserrat;
          font-size: 13px;
          line-height: 16px;
        }
        .offer_full_title {
          color: #00A0F9;
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
        .offer_prices {
          margin-top: 25px;
          .offer_prices_price {
            margin-bottom: 20px;
            .price_text {
              color: #3B424B;
              font-family: "Source Sans Pro";
              font-size: 15px;
              line-height: 20px;
            }
            .price_digit {
              color: #3B424B;
              font-family: Montserrat;
              font-size: 18px;
              font-weight: 500;
              line-height: 24px;
            }
            .dots {
              border-bottom: 1px dotted #D1D3D4;
            }
          }
        }
      }
      .all_offers {
        color: #00A0F9;
        font-family: "Source Sans Pro";
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  //.similar_offers .block span:not(.h3), .similar_offers .block .span {
  //    color: #788089;
  //    font-family: "Source Sans Pro";
  //    font-size: 13px;
  //    line-height: 16px;
  //}
  //
  //.similar_offers .block button {
  //    height: 40px;
  //    width: 145px;
  //    border-radius: 2px;
  //    background-color: #00A0F9;
  //    color: #FFFFFF;
  //    font-family: Montserrat;
  //    font-size: 15px;
  //    line-height: 19px;
  //    text-align: center;
  //    text-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  //}
  //
  //.title_h3 {
  //    color: #37383E;
  //    font-family: Montserrat;
  //    font-size: 24px;
  //    font-weight: bold;
  //    line-height: 24px;
  //}
}
