@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import './blocks/menu.scss';
@import './libs.scss';

.a_installment_card_conscience {

    padding-top: 15px;

    .a_installment_card_conscience_h1 {
        //width: 734px;	
        color: #37383E;
    }

    .license {
        height: 15px;
        //width: 68px;
        color: #8B98A0;
        font-family: "Source Sans Pro";
        font-size: 12px;
        line-height: 15px;
    }

    .a_installment_card_conscience_digits {
        margin-top: 30px;
        margin-bottom: 35px;

        div {
           
            h3, .h3 {
                //width: 92px;
                font-size: 20px;
            }

            span:not(.h3), .span {
                //height: 16px;
                //width: 36px;
                color: #788089;
                font-family: "Source Sans Pro";
                font-size: 13px;
                line-height: 16px;
            }
        }
    }

    div.percent {
        width: 110px;

        .digit {
            color: #37383E;
            font-family: Montserrat;
            font-size: 24px;
        }
        .text {
            color: #788089;
            font-family: "Source Sans Pro";
            font-size: 13px;
        }
        p {
            margin-top: -9px;
            line-height: 16px;
        }
    }

    div.lgot {
        .digit {
            margin: 1px;
            color: #37383E;
            font-family: Montserrat;
            font-size: 24px;
        }
        .text {
            width: 100px;
            color: #788089;
            font-family: "Source Sans Pro";
            font-size: 13px;
        }
        p {
            margin: -9px 0px 0px 16px;
            line-height: 13px;
        }
    }

    div.limit {
        width: 140px;

        .digit {
            color: #37383E;
            font-family: Montserrat;
            font-size: 24px;
        }
        .text {
            color: #788089;
            font-family: "Source Sans Pro";
            font-size: 13px;
        }
        p {
            margin: -9px 0px 0px 16px;
            line-height: 16px;
        }
    }

    .free_case {
        .text {	
            //width: 150px;	
            color: #3B424B;	
            font-family: "Source Sans Pro";	
            font-size: 15px;	
            line-height: 20px;
        }
    }

    // .menu {
    //     margin-top: 55px;
    //     //margin-left: -5%;

    //     .menu_item {
    //         // margin-right: 1px;
    //         // margin-left: 1px;
    //     }
    // }

    img {
        //height: 100%;
        //width: 258px;
        //margin: 15px 0;
    }

    .body {
        margin-top: 36px;
        margin-top: 2%;
        //padding: 32px 47px 31px 42px;
        //height: 363px;
        //width: 1152px;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);

        .body_top {
            padding: 32px 0 36px 40px;
            height: 92px;
            //width: 1152px;
            background-color: #E8EAEC;
        }

        .body_content {
            padding: 32px 0 36px 40px;
        }

        .form_text_data {
            margin-right: 54px;
        }

        input {
            border: none;
            border-bottom: 1px solid #D1D3D4;
            height: 40px;
            //width: 337px;
        }

        input:checked + label:after {
            opacity: 1;
        }

        .form_button {
            margin-top: 55px;

            #my_self {
                display: none;
            }

            label {
                color: blue;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                position: relative;
                padding-left: 28px;
    
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #FFFFFF;
                    background: url("../images/menu-dots@3x.png") no-repeat center;
                    opacity: 0;
                    transition: .5s
                }
            }

            button {
                height: 56px;
                //width: 275px;
                border-radius: 2px;
                background-color: #00A0F9;
                color: #FFFFFF;
                font-family: Montserrat;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                text-shadow: 0 1px 0 0 #FFFFFF;
                padding: 14px 28px;
            }
        }
    }
}

@media (max-width: 596px) {
    .a_installment_card_conscience_h1 {
       font-size: 24px;
    }

    .form_button {
        button {
            font-size: 16px;
        }
    }
}



