@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import './styleCard.scss';
@import './styleCardInstallmentConscience.scss';
@import './styleCongratulation.scss';
@import './styleCredit.scss';
@import './styleMicro.scss';
@import './styleMicroQickly.scss';
@import 'styleShop';
@import 'similarOffers';
@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './libs.scss';

body {
  background-color:  #F4F4F4;

  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  input[type='checkbox'] {
    height: 24px;
    width: 24px;
    border-radius: 2px;
    background-color: #00A0F9;
  }

  .white_block {
    background: #FFF;
  }
}


