@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import './range.scss';
@import 'blocks/menu.scss';
@import './libs.scss';

.fast_microloan {

    .license {
        height: 15px;
        width: 68px;
        color: #8B98A0;
        font-family: "Source Sans Pro";
        font-size: 12px;
        line-height: 15px;
    }

    .fast_microloan_h1 {
        //margin-top: 30px;
        //margin-bottom: 40px;
        //width: 1025px;
        //text-align: center;
        width: 653px;
    }

    .fast_microloan_digits {
        margin-top: 40px;
        margin-bottom: 35px;

        div {
            margin-right: 41px;
        }
    }

    .menu {

        .menu_item {
            margin-right: 42px;

            a {
              width: 152px;
              color: #00A0F9;
              font-family: Montserrat;
              font-size: 18px;
              line-height: 24px;
              transition: all 1s ease 0s;

              &:hover {
                text-decoration: #00A0F9;
                color: #3B424B;
              }
            }
        }
    }

    img {
        height: 100%;
        width: 304px;
        margin: 10px auto;
    }

    .body {
        margin-top: 36px;
        padding: 32px 47px 31px 42px;
        //height: 363px;
        //width: 1152px;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);

        .form_text_data {
            margin-right: 54px;
        }

        input {
            border: none;
            border-bottom: 1px solid #D1D3D4;
            height: 40px;
            //width: 337px;
        }

        .form_button {
            margin-top: 55px;

            .form_button_row {
                justify-content: space-around;
            }

            button {
                height: 56px;
                //width: 275px;
                border-radius: 2px;
                background-color: #00A0F9;
                color: #FFFFFF;
                font-family: Montserrat;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                text-shadow: 0 1px 0 0 #FFFFFF;
            }
        }
    }
}





