@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import './range.scss';
@import './blocks/menu.scss';
@import './libs.scss';

.congratulations {
    .title {
        position: relative;

        .title_photo {
            text-align: center;
            padding-top: 27px;
            i {
                height: 16px;
                width: 16px;
                color: #00A0F9;
            }

        }


        p {
            //height: 48px;
            //width: 504px;
            color: #37383E;
            font-family: Montserrat;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
    }

    .block {
        //height: 356px;
        //width: 1152px;
        //width: 85%;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);
        padding: 2%;
        margin-top: 36px;
        margin-bottom: 38px;

        h3 {
            //height: 24px;
            //width: 151px;
            font-size: 20px;
            font-weight: bold;
        }

        .data {
            background: #ffffff;

            h4 {
                //height: 24px;
                //width: 151px;
                color: #37383E;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: bold;
            }

            div {
                .data_name {
                    //height: 32px;
                    //width: 37px;
                    color: #37383E;
                    font-family: Montserrat;
                    font-size: 14px;
                    line-height: 32px;
                }
                span {
                    //height: 24px;
                    //width: 634px;
                    color: #37383E;
                    font-family: Montserrat;
                    font-size: 18px;
                    line-height: 32px;
                }
            }

        }

        .conditions, .conditions-tablet {
            //height: 374px;
            //width: 326px;
            min-height: 127%;
            height: 127%;
            border-radius: 2px;
            background-color: #00A0F9;
            box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);
            margin-top: -10%;
            padding: 39px 66px 0% 23px;
            //padding: 39px 13px 0% 13px;
            //padding-top: 39px;

            h3 {
                height: 24px;
                width: 92px;
                color: #F4F4F4;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: bold;
            }

            div {
                display: flex;
                margin-bottom: 30px;

                span {
                    //height: 32px;
                    //width: 49px;
                    //width: 55px;
                    color: #F4F4F4;
                    font-family: Montserrat;
                    font-size: 14px;
                    line-height: 20px;

                    &:last-child {
                        margin-left: auto;
                        margin-left: 70px;
                        //width: 89px;
                        font-size: 24px;
                        line-height: 24px;
                    }
                }

                .conditions_name {
                    height: 32px;
                    width: 49px;
                    color: #F4F4F4;
                    font-family: Montserrat;
                    font-size: 14px;
                    //line-height: 32px;
                }
            }

        }

        .conditions-tablet {
            height: auto;

            div.tablet {
                span {
                    margin-left: 0;
                }
            }
        }
    }
}

.simular_offers {
    margin-top: 1%;

    .block {
        margin-bottom: 18px;
        padding: 23px 23px 37px 36px;
        //height: 156px;
        //width: 1150px;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 2px 0 rgba(128,130,139,0.2);

        span:not(.h3), .span {
            //height: 16px;
            //width: 36px;
            color: #788089;
            font-family: "Source Sans Pro";
            font-size: 13px;
            line-height: 16px;
        }

        button {
            height: 40px;
            width: 145px;
            border-radius: 2px;
            background-color: #00A0F9;
            color: #FFFFFF;
            font-family: Montserrat;
            font-size: 15px;
            line-height: 19px;
            text-align: center;
            text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
            //margin-top: 10%;
            //margin-left: 40%;
        }
    }
}

@media (max-width: 992px) {
    .profile {
        .profile_h1 {
            font-size: 24px;
        }

        .menu {
            width: 657px;
            width: 700px;
            .menu_item {
                margin-right: 7px;
                //width: 400px;
            }
        }

        .draw_a_microloan {
            display: block;
        }
    }
}

@media (max-width: 576px) {
    .profile_h1 {
        font-size: 20px;
    }
}

