@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import 'blocks/menu.scss';
@import 'blocks/offers.scss';
@import './range.scss';
@import './libs.scss';

.shop {
    .product_title {
        //margin-bottom: 25px;
        .bredcrumbs {
            padding: 15px 0px 25px 0px;
            .breadcrums_item {
                color: #788089;
                font-family: Montserrat;
                font-size: 13px;
                line-height: 16px;
            }
            .breadcrums_rect {
                position: absolute;
                top: 12px;
                //margin-left: 5px;
                width: 4px;
                height: 4px;
                transform: rotate(45deg);
                background-color: #788089;
            }
        }
    }
    .product_info {
        margin-bottom: 34px;
        .main_offer  {
            padding: 33px 0px;
            h1 {
                margin: 22px auto;
            }
            .photos {
                padding: 0px 5%;
                .photos_small {
                    margin-top: 65px;
                }
            }
            .desc {
                .desc_price {
                    .desc_price_title {
                        olor: #3B424B;
                        font-family: "Source Sans Pro";
                        font-size: 15px;
                        line-height: 20px;
                    }

                    .desc_old_price_digit {
                        margin-left: 19px;
                        text-decoration: line-through;
                        color: #3B424B;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                    }

                    .desc_current_price {
                        margin: 7px 0px 23px 0px;

                        .desc_price_digit {
                            color: #3B424B;
                            font-family: Montserrat;
                            font-size: 32px;
                            font-weight: bold;
                            line-height: 24px;
                        }
                    }
                }
                .desc_prices {
                    padding: 5px 20px 5px 0px;

                    .desc_prices_header_label {
                        color: #3B424B;
                        font-family: "Source Sans Pro";
                        font-size: 15px;
                        line-height: 20px;
                    }
                    .digit {
                        margin: 2px 2px;

                        .desc_prices_price {
                            color: #3B424B;
                            font-family: Montserrat;
                            font-size: 24px;
                            font-weight: bold;
                            line-height: 24px;
                            //margin: 3px 2px;
                        }
                    }
                    .desc_prices_add {
                        color: #788089;
                        font-family: Montserrat;
                        font-size: 13px;
                        line-height: 16px;
                    }
                    .vertical_line {
                        box-sizing: border-box;
                        height: 63px;
                        width: 2px;
                        border: 1px solid #D1D3D4;
                    }
                    .instantly {
                        display: block;
                        text-align: center;
                        height: 22px;
                        width: 91px;
                        border-radius: 2px;
                        background-color: #EFE500;
                        color: #3B424B;
                        font-family: "Source Sans Pro";
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
                .horizontal_line {
                    margin: 20px 0px;
                    box-sizing: border-box;
                    height: 2px;
                    width: 100%;
                    border: 1px solid #D1D3D4;
                }
                .desc_properties {
                    h3 {
                        color: #3B424B;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 24px;
                    }
                    li {
                        color: #3B424B;	font-family: Montserrat;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    a.all_properties {
                        //width: 193px;
                        color: #00A0F9;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }

                //li, span {
                //    color: #3B424B;
                //    font-family: Montserrat;
                //    font-size: 16px;
                //}

                //a.all_props {
                //    //width: 193px;
                //    color: #00A0F9;
                //    font-family: Montserrat;
                //    font-size: 18px;
                //    font-weight: 500;
                //    line-height: 24px;
                //}
            }
        }
    }

    .registration {
        margin: 0px 10%;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 24px 0 rgba(249,0,243,0.14), 0 49px 55px 0 rgba(135,130,161,0.2);

        .white_block {
            padding: 43px 0px 39px 35px;

            .reg_h3 {
                //width: 174px;
                color: #37383E;
                font-family: Montserrat;
                font-size: 24px;
                font-weight: bold;
                line-height: 24px;
            }

            .fio_input, .contact_input {
                margin-bottom: 25px;
                border: none;
                border-bottom: 1px solid #F4F4F4;

                color: #4A4A4A;
                font-family: ".SF NS Display";
                font-size: 15px;
                line-height: 18px;
            }

            .accept_button {
                //margin-top: 10%;
                span {
                    margin-left: 5px;
                    color: #4A4A4A;
                    font-family: Helvetica;
                    font-size: 15px;
                    line-height: 18px;
                }
                button {
                    height: 56px;
                    width: 238px;
                    margin-top: 17px;
                    border-radius: 2px;
                    background-color: #00A0F9;
                    color: #FFFFFF;
                    font-family: Montserrat;
                    font-size: 22px;
                    line-height: 27px;
                    text-align: center;
                    text-shadow: 0 1px 0 0 #FFFFFF;
                }
            }

            .info_item {
                margin-top: 5px;
                color: #788089;
                font-family: "Source Sans Pro";
                font-size: 13px;
                line-height: 16px;
            }
        }
    }
}
