@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import './blocks/menu.scss';
@import './similarOffers.scss';
@import './libs.scss';
@import './range.scss';

.online_credits {

    .online_credits_photo {
        z-index: 100;

        img {
            width: 319px;
            //height: 498px;
            //height: 491px;
            //width: 527px;
            //width: 100%;
            box-shadow: 0 2px 80px 0 rgba(255,255,255,0.68);
            z-index: 100;
        }
    }
    .h1 {
        height: 48px;
        width: 684px;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: bold;
        line-height: 48px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: -55px;

        .h1_span_Astana {
            color: #00A0F9;
            margin-left: 2%;
        }

        &::after {
            content: "";
            height: 6px;
            width: 10px;
            transform: rotate(180deg);
            background-color: #00A0F9;
        }

        .filter_triangle {
            position: absolute;
            top: 40px;
            margin-left: 15px;
            width: 10px;
            height: 6px;
            border-top: 6px solid #00A0F9;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }

    .block_credit {
        padding: 27px 44px 46px 150px;
        margin-top: 29px;
        margin-bottom: 2%;
        margin-left: -27%;

        .menu {
            li {
                a {
                    color: #00A0F9;
                    font-family: Montserrat;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }

        .sliders {
            margin-top: 32px;
            .credit_slider {
                color: #4A4A4A;
                font-family: ".SF NS Display";
                .credit_slider_range {
                    width: 200px;
                }
                .credit_slider_title {
                    font-size: 13px;
                    line-height: 16px;
                }
                .credit_slider_value {
                    margin-top: 12px;
                    ont-size: 15px;
                    line-height: 18px;
                }
                input {
                    padding: 0px 0px;
                }
            }
        }

        .filter_buttons {
            margin-top: 46px;

            .filter_button {
                margin: auto 3px;
                padding: 0px 20px 0px 20px;
                height: 40px;
                border-radius: 65px;
                background-color: #F4F4F4;
                color: #37383E;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
                text-align: center;
            }

            .offers_button {
                height: 40px;
                //width: 214px;
                border-radius: 2px;
                background-color: #00A0F9;
                color: #FFFFFF;
                font-family: Montserrat;
                font-size: 15px;
                line-height: 19px;
                text-align: center;
                text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
            }

            .filter_selected {
                border-radius: 26px;
                background-color: #00A0F9;
                color: #F4F4F4;
            }
        }
    }
}

.block_recommended {
    //width: 1150px;
    //padding: 23px 61px 38px 33px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 24px 0 rgba(249,0,243,0.14), 0 49px 55px 0 rgba(135,130,161,0.2);
    padding: 23px 61px 23px 33px;
    margin-bottom: 2%;
    z-index: 100;
    //height: 106px;
    //width: 80%;

    .row {
        div {
            margin-left: 0%;

            img {
                height: 59px;
                //width: 149px;
                opacity: 0.75;
            }
        }
    }

}

.offers {
    margin-top: 63px;
    .block {
        .offer_block_text {
            height: 100%;
            color: #00A0F9;

            .offer_qty {
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
            }
            .offer_block_text_content {
                height: 100%;
            }
            .offer_left_right_block_text_content {
                padding: 16px 10px 16px 26px;
                .offer_text {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
            .offer_center_block_text_content {
                padding: 16px 26px;
                .offer_text {
                    color: #3B424B;
                    font-family: Montserrat;
                    font-size: 24px;
                    font-weight: 500;
                        line-height: 32px;
                }
            }
        }
        .offer_block_small_photo {
            width: 178px;
            height: 140px;
        }
        .offer_block_big_photo {
            background-image: url("../images/flat.jpg");
            background-size: cover;
            background-position: center;
            height: 320px;
        }
        .offer_block {
            box-shadow: 0 15px 33px 0 rgba(153,130,161,0.6);
            min-width: 360px;
            &:first-child {
                margin-bottom: 40px;
            }
        }
        .offer_central_block {
            margin: 0px 40px;
            //min-width: 334px;
        }
    }
}

//@media (max-width: 992px) {
//
//    .online_credits {
//        margin-top: -30px;
//
//        .h1 {
//            font-size: 20px;
//            position: absolute;
//            top: 24px;
//            margin-left: -95px;
//            //bottom: 35px;
//
//            .filter_triangle {
//                top: 20px;
//            }
//        }
//
//        .block {
//            padding-left: 45px;
//
//            .menu {
//                margin-top: 35px;
//            }
//        }
//
//    }
//
//    .offers {
//
//        .block {
//
//            img {
//                // width:100px;
//                // position: absolute;
//                // top:7px;
//                // left: -90px;
//                margin-left: -30px;
//            }
//
//            .car_loan_block, .credit_block, .credit_cards_block {
//                //position: relative;
//            }
//
//            .block_right {
//                display: flex;
//
//                .credit_block, .credit_cards_block {
//                    flex-basis: 50%;
//                }
//
//                .credit_cards_block  {
//                    margin-left: 3%;
//                }
//            }
//        }
//    }
//
//}
