@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import './blocks/menu.scss';
@import './libs.scss';

.profile {
    .profile_h1 {
        margin-top: 30px;
        margin-bottom: 40px;
        //width: 1025px;
        //text-align: center;
    }

    .block {
        padding: 32px 24px 39px 17px;
        margin-bottom: 8px;
        //height: 156px;
        //width: 1150px;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);

        h3, .h3 {	
            color: #37383E;	
            font-family: Montserrat;	
            font-size: 24px;	
            line-height: 24px;
        }
        
        span, .span {
            color: #788089;	
            font-family: "Source Sans Pro";	
            font-size: 13px;	
            line-height: 16px;
        }

        .draw_a_microloan, .license {
            span {
                color: #8B98A0;	
                font-family: "Source Sans Pro";	
                font-size: 12px;	
                line-height: 15px;
            }
        }

        button {
            height: 40px;
            width: 238px;
            border-radius: 2px;
            background-color: #00A0F9;
            color: #FFFFFF;
            font-family: Montserrat;
            font-size: 15px;
            line-height: 19px;
            text-align: center;
            text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
        }
    }
}

@media (max-width: 992px) {
    .profile {
        .profile_h1 {
            font-size: 18px;
        }

        h3  {
            font-size: 16px;
            // margin-left: -25px;
        }

        .h3 {
            font-size: 18px;
        }

        .menu {
            width: 657px;
            width: 700px;
            .menu_item {
                margin-right: 27px;
            }
        }
    }
}

@media (max-width: 592px) {
    .profile {
        .block {
            h3, .h3 {
                color: #00A0F9;	
                font-family: Montserrat;	
                font-size: 16px;	
                line-height: 24px;
                margin-left: 4%;
            }

            .license_320 {
                margin-top: -20px;
            }

            .block_date {
                display: none;
            }

            .block_text {
                margin-left: -18px;
            }
        }    
    }
}





