<header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12"><!--возможно не нужен этот класс-->
                    <div class="header d-flex">
                        <div class="col-lg-1">
                            <img  class="logo" src="images/logo.png" alt="Банковская карта">
                        </div>
                        <div class="col-lg-8">
                            <nav>
                                <ul class="menu d-flex justify-content-center">
                                    <li class="nav-item"><a>Кредит наличными</a></li>
                                    <li class="nav-item"><a>Кредитные карты</a></li>
                                    <li class="nav-item"><a>Микрозаймы</a></li>
                                    <li class="nav-item"><a>Ипотека</a></li>
                                    <li class="nav-item"><a>Автокредит</a></li>
                                    <li class="nav-item"><a>Магазин</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-1">
                            <div class="all-products-icon d-flex align-items-center">
                                <a class="all-products-icon_item"><img src="images/menu-dots.png" alt="Адаптивное меню"></a>
                                <a class="all-products-icon_item">Все продукты</a>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="profile d-flex">
                                <a class="profile_link"><img src="images/search.png" alt="Поиск"></a>
                                <a class="profile_link"><img src="images/burger.png" alt="Адаптивное меню"></a>
                                <a class="profile_link"><img src="images/user.png"   alt="Профиль"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
