footer {
  //position: absolute;
  //bottom: 0;
  //width: 100%;

  .footer_line {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid #D1D3D4;
  }
  .footer_section {
    margin-right: 35px;

    .copyright {
      color: #788089;
      font-family: "Source Sans Pro";
      font-size: 13px;
      line-height: 16px;
    }
    .footer_button {
      margin-left: 5px;
      color: #788089;
      font-family: "Source Sans Pro";
      font-size: 13px;
      line-height: 16px;
    }
  }
}
