.main_menu {
  margin: 0px;

  .nav-item {
    //margin-right: 46px;
    padding-bottom: 22px;
    border-bottom: 6px solid transparent;

    .nav-link {
      text-align: start;
      padding: 0px 0px;
      height: 22px;
      color: #3B424B;
      font-family: "Source Sans Pro";
      font-size: 15px;
      line-height: 20px;
    }
    &:hover {
      text-decoration: #00A0F9;
      color: #3B424B;
      border-bottom: 6px solid #00A0F9;
    }
  }
}

.component_menu {
  margin: 0px;

  .nav-item {
    padding-bottom: 11px;
    border-bottom: 6px solid transparent;
    a {
      text-align: start;
      //height: 22px;
      color: #00A0F9;
      font-family: Montserrat;
      font-size: 18px;
      line-height: 24px;
    }
    &:hover {
      text-decoration: #00A0F9;
      color: #3B424B;
      border-bottom: 6px solid #00A0F9;
    }
  }
}
