.offers {
  .title {
    margin-bottom: 35px;
  }
  //.test-border {
  //  border: 1px solid red;
  //}
  margin-bottom: 10px;
  .offers_column_right_border {
    width: 2px;
    border-right: 1px solid #D1D3D4;
  }
  .offers_block {
    padding: 20px;
    .offers_block_title {
      .offers_block_title_buttons {
        border-radius: 2px;
        .nav-item {
          border-radius: 2px 0 0 2px;
          .nav-link {
            padding: 7px 7px;
          }
          a {
            color: #37383E;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
          }
          .active {
            background-color: #00A0F9;
            color: #FFFFFF;
          }
        }

        .buttons_separator {
          margin: 10px 7px;
          border-right: 1px solid #D1D3D4;
        }
      }
      .offers_block_title_buttons_offset {
        margin-top: 17px;
      }
    }
    .offers_block_body {
      overflow-y: auto;
      max-height: 500px;
      .offers_block_item {
        .offers_block_item_content {
          padding: 25px 0px;
          border-bottom: 1px solid #D1D3D4;
          .row {
            height: 100%;
          }
          .amount {
            color: #3B424B;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
          }
          .amount_description {
            color: #788089;
            font-family: Montserrat;
            font-size: 13px;
            line-height: 16px;
          }
          .old_amount {
            color: #3B424B;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            text-decoration: line-through;
          }
          .amount_red {
            color: #D10000;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
          }
          .bank_number {
            color: #788089;
            font-family: Montserrat;
            font-size: 11px;
            line-height: 16px;
          }
          .percent {
            color: #3B424B;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
          }
          .mounts {
            color: #788089;
            font-family: Montserrat;
            font-size: 13px;
            line-height: 16px;
          }
          .selected {
            background-color: #F4F4F4;
          }
        }
      }
    }
    .scrollbar {
      float: left;
      //height: 300px;
      width: 100%;
      background: #F5F5F5;
      overflow-y: auto;

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        width: 8px;
        border-radius: 6.5px;
        background-color: #788089;
      }
    }
  }
}
